@model List<googledrive.Models.LoginDTO>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section style{
    <style>
        #users{
            width: 100%;
            border-collapse: collapse;
        }

        #users td, #users th{
            border: 1px solid #ddd;
            padding: 8px;
        }

        #users tr:nth-child(even){ background-color: #f2f2f2; }

        #users tr:hover { background-color: #ddd; }

        #users th{
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4CAF50;
            color: white;
        }

    </style>
}
<table id="users">
    <tr>
        <th>Login</th>
        <th>Ip Address</th>
        <th>Date Time</th>
    </tr>
    @{
        foreach (var dto in @Model)
        {
            <tr>
                <td>@dto.Login</td>
                <td>@dto.IpAddress</td>
                <td>@dto.LoggedOn</td>
            </tr>
        }
    }
</table>

