
@{
    ViewBag.Title = "File";
    Layout = "~/Views/Shared/_DownloadLayout.cshtml";
}

<div class="download-page">
    <div class="form" style="background-color: transparent; box-shadow: none;">
        <div class="alert alert-danger">
            <strong>Oops ! </strong>File Not Exist
        </div>
    </div>
</div>

