
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Username = Session["Username"];
}
@{
    <input type="text" id="parentfolderid" value="0" hidden />
    <a id="downloadanchor" hidden>Download</a>
    <form id="upload" enctype="multipart/form-data" hidden>
        <input type="file" id="FileUpload" multiple />
    </form>
    <ol class="breadcrumb"></ol>
    <table class="table table-hover borderless">
        <thead>
            <tr>
                <th scope="col" hidden>#</th>
                <th scope="col">Name</th>
                <th scope="col">Parent Folder</th>
                <th scope="col">Size</th>
                <th scope="col">Created By</th>
                <th scope="col">Created On</th>
                <th scope="col">View Count</th>
            </tr>
        </thead>
        <tbody id="TableBody"></tbody>
    </table>
}
