
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2>Index</h2>

@{
    <tr>
        <td><input type="checkbox" checked="checked"></td>
        <td><div class="icon folder"></div><span>Folder 1<span></td>
        <td>Folder 1</td>
        <td>--</td>
        <td>admin</td>
        <td>05/09/2018 08:10 PM</td>
    </tr>
    <tr>
        <td><input type="checkbox" checked="checked"></td>
        <td><div class="icon folder"></div><span>Folder 2<span></td>
        <td>Folder 2</td>
        <td>--</td>
        <td>admin</td>
        <td>05/09/2018 08:10 PM</td>
    </tr>
    <tr>
        <td><input type="checkbox" checked="checked"></td>
        <td><div class="icon folder"></div><span>Folder 3<span></td>
        <td>Folder 3</td>
        <td>--</td>
        <td>admin</td>
        <td>05/09/2018 08:10 PM</td>
    </tr>
    <tr>
        <td><input type="checkbox" checked="checked"></td>
        <td><div class="icon file"></div><span>File 1<span></td>
        <td>Home</td>
        <td>--</td>
        <td>admin</td>
        <td>05/09/2018 08:10 PM</td>
    </tr>
}
