
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/Download.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
