
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@{ 
    <div class="container-fluid maindiv">
        <div class="container subdiv">
            <div class="header">
                <h1>Login</h1>
            </div>
            <hr style="margin: 10px 0;" />
            <span>Login : </span>
            <input type="text" name="userlogin" id="userlogin" value="" />
            <span>Password : </span>
            <input type="password" name="userpassword" id="userpassword" value="" />
            <br /><br />
            <input type="submit" class="btn btn-outline-success btn-block" id="loginbtn" value="Login" />
        </div>
    </div>
}



